main
{
    width: 400px; 
    height: 400px;
    margin: auto;
    background-color: rgb(57, 102, 252);
    color: aliceblue;
    padding: 30px 50px;
    box-sizing: border-box;
    text-align: center;
}
h1
{
    border: 10px solid ;
    border-radius: 60px;
}